@use "../base/variables" as *;

.navbar {
  padding: 1rem !important;
  border-bottom: $border-width solid $black !important;
  background: $black !important;
  margin-bottom: 2rem !important;

  .navbar-item {
    font-family: $font-family-mono !important;
    color: $white !important;
    background: $black !important;

    &:hover {
      background: $black !important;
      color: $primary !important;
    }
  }

  .navbar-menu {
    background: $black !important;
  }

  .brand-text {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .button {
    margin: 0 0.5rem;
  }

  .navbar-end {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .neon-button {
    margin-top: 0;
    margin-bottom: 0;
  }
} 