<div class="modal" id="cropperModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Crop Image</p>
      <button class="delete" aria-label="close" type="button"></button>
    </header>
    <section class="modal-card-body">
      <div class="image-container">
        <img id="cropperImage" src="" alt="Image to crop">
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button neon-button" id="cropButton" type="button">Crop</button>
      <button class="button" id="cancelCrop" type="button">Cancel</button>
    </footer>
  </div>
</div> 