<div class="home-container">
  <h1>Welcome to Our App</h1>
  
  <% if user_signed_in? %>
    <p>Welcome back, <%= current_user.profile&.first_name || current_user.email %>!</p>
    <%= link_to 'View Profile', profile_path, class: 'btn btn-primary' %>
  <% else %>
    <p>Please sign in to access your profile</p>
    <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-secondary' %>
  <% end %>
</div> 