<div class="modal" id="cropperModal" data-image-cropper-target="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <img id="cropperImage" data-image-cropper-target="image">
      <button class="button is-primary mt-4" data-action="click->image-cropper#crop">Crop Image</button>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" data-action="click->image-cropper#closeModal"></button>
</div> 